<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workoutapp">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.WorkoutApp"
        android:label="Workout App"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <activity android:name=".Activity_Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity_intro" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Activity_First"/>

    </application>
</manifest>
